* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
body {
    background-color: #302826ff;
    height: 100vh;
}

a, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
/* Header */
nav {
    background-color: navy;
    padding: 1em;
    opacity: 0.7;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    padding: 1em;
    margin: 0 1em 0 1em;
    border-radius: 8px;
}

nav ul li:hover{
    background-color: #d8bca0;
    color: lightslategray;
    opacity: 1;
}

/* #active{
    background-color: burlywood;
} */

nav ul li a{
    text-decoration: none;
    color: white;
    opacity: 1;
    font-size: 18px;
}

nav ul li a:hover{
    color: black;
}


/* Body */
/* Image pics slider */
.slide-image {
    border: 5px solid yellow;
    margin: 3%;
    max-width: 100%;
    height: 400px;
    margin: auto;
}

/* Image Position */
.slideShow {
    max-width: 100%;
    height: 100%;
    background-image: url(/img/coffee_1.jpg); /*First pic*/
    opacity: .6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;  /* Left centre*/
}

/* Text */
.disc {
    border: 1px solid lime;
    margin: auto;
    text-align: left;
    font-size: 1.5em;
    color: whitesmoke;
    position: absolute;
    top: 25%;
    left: 8%;
}

/* Next arrow ">" */
.next {
    float: right;
    top: -50%;
    right: 50px;
}

/* Back arrow "<" */
.back {
    float: left;
    top: -50%;
    left: 30px;
}

/* Arrow design */
.arrow {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}

.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.next::before{
    left: 0px;
    width: 30px;
    height: 30px;
    border-top: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.back::before{
    left: 0px;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-left: 5px solid rgb(255, 255, 255);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Animation */
.slideShow{
    transition: background-image 1s ease-in;
}


@media screen and (max-width:768px) { 
  .slide-image{
    height: 250px;
  }
    .disc{
        padding-top:5%;
    }
    /*>*/
    .next{
        top: 30px;
    }
    /*<*/
    .back{
        top: 30px;
    }
}

/* img{
    width: 200px;
    height: 150px;
} */

/* New & Recommendation Items */
.item-box {
    display: flex;
    justify-content: space-around;
    /* border: 5px solid yellow; */
    /* margin: 3%; */
}
h3 {
    color: #d8bca0;
    text-align: center;
}
.item-box > .card {
    margin: 3% 0;;
    border: 1px solid lime;
}
.item-box > .card:hover {
    transform: scale(1.1,1.1);
    transition-duration: .5s;
}

/* Shop Blog */
.shop-blog {
    display: flex;
    justify-content: space-around;
    border: 5px solid yellow;
    margin: 3%; 
}


/* Footer */
.footer {
    color: #d8bca0;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid yellow;
}
.list1 {
    border: 1px solid lime;
}
ul {
    list-style: none;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
}