* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
body {
    background-color: #302826ff;
    height: 100vh;
}

a, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
/* Header */
nav {
    background-color: navy;
    padding: 1em;
    opacity: 0.7;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    padding: 1em;
    margin: 0 1em 0 1em;
    border-radius: 8px;
}

nav ul li:hover{
    background-color: #d8bca0;
    color: lightslategray;
    opacity: 1;
}

/* #active{
    background-color: burlywood;
} */

nav ul li a{
    text-decoration: none;
    color: white;
    opacity: 1;
    font-size: 18px;
}

nav ul li a:hover{
    color: black;
}


/* Body */
/* Image pics slider */
.slide-image {
    border: 5px solid yellow;
    margin: 3%;
}
.slide-image ul {
    display: flex;
    justify-content: space-between;
}

img{
    width: 200px;
    height: 150px;
}

/* New & Recommendation Items */
.item-box {
    display: flex;
    justify-content: space-around;
    border: 5px solid yellow;
    margin: 3%;
}
h3 {
    color: #d8bca0;
    text-align: center;
}

/* Shop Blog */
.shop-blog {
    display: flex;
    justify-content: space-around;
    border: 5px solid yellow;
    margin: 3%; 
}


/* Footer */
.footer {
    color: #d8bca0;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid yellow;
}
.list1 {
    border: 1px solid lime;
}
ul {
    list-style: none;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
}